body {
    font-family: 'Muli', sans-serif;
}

.header-main .btn-success {
    color: #fff !important;
}

.header-main .btn-outline-success:hover {
    color: #fff !important;
}

.header-main {
    padding-top: 20px;
}

.text-muli {
    font-family: 'Muli', sans-serif;
}

.btn {
    border-radius: 20px;
    font-family: 'Muli', sans-serif;
    padding-left: 40px;
    padding-right: 40px;
}

@media (min-width: 992px) {
    .banner-right {
        padding-top: 5%;
        padding-right: 10%;
    }

    .footer {
        border: 1px solid #efefef;
        padding: 50px !important;
        background: #eeeeee
    }

    .navbar {
        padding-left: 100px;
        padding-right: 100px;
    }

    .banner-heading {
        text-align: right !important;
        font-family: 'Poppins', sans-serif !important;
        font-size: 27px;
    }

    .banner-sub {
        font-size: 22px;
        line-height: 29px;
        font-family: 'Muli', sans-serif;
        text-align: right !important;
    }

}


.subheading {
    font-family: 'Muli', sans-serif;
    color: #696969;
    font-size: 17px;
}

.header {
    height: 600px;
}

.link .active {
    background-color: green;
    color: white;
}

.link {
    background-color: white;
    color: green;
}

.banner {
    background: #171A4F;
    min-height: 100px;
}

.nav-tabs {
    border-bottom: none;
}

.bg-dark {
    background: #171A4F !important;

}

.text-white {
    color: white;

}

.banner-heading {
    text-align: center;
    font-family: 'Poppins', sans-serif !important;
    font-size: 27px;
}

.footer {
    border: 1px solid #efefef;
    padding: 20px;
    background: #eeeeee
}

.banner-sub {
    font-size: 22px;
    line-height: 29px;
    font-family: 'Muli', sans-serif;
    text-align: center;
}

@media only screen and (max-width:480px) {

    /* MOBILE GLOBAL STYLES - DO NOT CHANGE */
    body,
    .tb_properties {
        font-family: Arial !important;
        font-size: 16px !important;
        color: #808080 !important;
        line-height: 1 !important;
        padding: 0px !important;
    }

    .buttonstyles {
        font-family: Arial !important;
        font-size: 16px !important;
        color: #FFFFFF !important;
        padding: 0px !important;
    }

    h1 {
        font-family: Arial !important;
        font-size: 22px !important;
        color: #202020 !important;
        line-height: 1 !important;
    }

    h2 {
        font-family: Arial !important;
        font-size: 20px !important;
        color: #202020 !important;
        line-height: 1 !important;
    }

    h3 {
        font-family: Arial !important;
        font-size: 18px !important;
        color: #202020 !important;
        line-height: 1 !important;
    }

    a:not(.buttonstyles) {
        line-height: 1 !important;
    }

    .mobile-hidden {
        display: none !important;
    }

    .responsive-td {
        width: 100% !important;
        display: block !important;
        padding: 0 !important;
    }

    /* END OF MOBILE GLOBAL STYLES - DO NOT CHANGE */
}